@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');



 :root {
    --green: #011108; 
    --dark-bg: #1e8449; 
    --black: #333; 
    --light-color: #888; 
    --border: .1rem solid rgba(195, 60, 60, 0.1); 
    --box-shadow: 0 .5rem 1rem rgba(5, 90, 29, 0.1);
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;


    
 

   
}

* {
    font-family: "Merriweather";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
}

section {
    padding: 5rem 9%;
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;

}
.heading::before{
    content: '';
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 0.1rem;
    background: rgba(0, 0, 0, 1);
    z-index: -1;
    

}

.heading span{
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);

}
 



.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover {
    background: var(--dark-bg);
}

.header .header-1 {
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .header-1 .logo i {
    color: var(--green);
}

.header .header-1 .search-form {
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover {
    color: var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}


.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
    color: var(--green);
}

#search-btn {
    display: none;
}

.header .header-2 {
    background: var(--green);
}

.header .header-2 .navbar {
    text-align: center;
}

.header .header-2 .navbar a {
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover {
    background: var(--dark-bg);
}

.header .active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}



.bottom-navbar {
    text-align: center;
    background: var(--green);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a {
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.bottom-navbar a:hover {
    background: var(--dark-bg);
}

.home {
    background: url("try\ me\ 5.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .content {
    flex: 1 1 42rem;
    text-align: center;
}
.home .row .content{
    flex: 1 1 42rem;

}
.home .row .books-slider {
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}





.home .books-slider a img {
    height: 25rem;
    transition: transform 0.3s ease;
}

.home .books-slider a:hover img {
    transform: scale(.9);
}

.home .books-slider .stand {
    width: 150%;
    margin-top: 10rem;
    position: relative;
    bottom: 420px;

}

.home .content h3 {
    color: var(--dark-bg);
    font-size: 4.5rem;
}

.home .content p {
    color: whitesmoke;
    font-size: 1.5rem;
    line-height: 2;
    padding: 1rem 0;
}
.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}
.icons-container .icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.icons-container .icons i{
    font-size: 3.5rem;
    color: var(--green);
}

.icons-container .icons h3{
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;

}

.icons-container .icons p {
    font-size: 1.4rem;
    color: var(--light-color);   
}










/* media queries */

@media (max-width: 1120px) {
    html {
        font-size: 55%;
    }

    .header .header-1 {
        padding: 2rem;
    }

    section {
        padding: 3rem 2rem;
    }
    .container {
        height: 100vh;
      }
    
      .card__container {
        grid-template-columns: repeat(3, 1fr);
      }
      .card__img {
        width: 348px;
      }
      .card__data {
        width: 316px;
        padding-inline: 2.5rem;
      }
}

.bottom-navbar {
    display: block;
}

@media (max-width: 768px) {
    html {
        scroll-padding-top: 0;
    }

    body {
        padding-bottom: 6rem;
    }

    .header .header-2 {
        display: none;
    }

    #search-btn {
        display: inline-block;
    }

    .header .header-1 {
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form {
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active {
        top: 115%;
    }
    .home .row .content{
        text-align: center;
        
    }
    .home .row .content h3{
        font-size: 3.5rem;

    }
    .newsletter{
        background-position: left;
    }
    .newsletter form{
        margin-right: 0;
        max-width: 100%;

    }
    .card__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
      }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .container {
        margin-inline: 1rem;
      }
    
      .card__data {
        width: 250px;
        padding: 1rem;
      }
}



.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i {
    color: var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .map {
    width: 100%;
}

.footer .share {
    padding: 1rem 0;
    text-align: center;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    background-color: var(--green);
    margin: 0 .3rem;
    border-radius: 50%;
    display: inline-block;
   
    
}

.footer .share a:hover {
    background: var(--black);
}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
   


}

.footer .credit span{
    color: var(--green);
}

.whatsapp-chat-container {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-chat-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.whatsapp-chat-button i {
    margin-right: 10px;
    font-size: 24px;
}

.whatsapp-chat-button:hover {
    background-color: #128C7E;
}



img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  /*=============== CARD ===============*/
  .container {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
  }
  
  .card__container {
    display: grid;
    row-gap: 3.5rem;
  }
  
  .card__article {
    position: relative;
    overflow: hidden;
  }
  
  .card__img {
    width: 328px;
    border-radius: 1.5rem;
  }
  
  .card__data {
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
  }
  
  .card__description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
  }
  
  .card__title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
  }
  
  .card__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
  }
  
  .card__button:hover {
    text-decoration: underline;
  }
  
  /* Naming animations in hover */
  .card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
  }
  
  .card__article:hover {
    animation: remove-overflow 2s forwards;
  }
  
  .card__article:not(:hover) {
    animation: show-overflow 2s forwards;
  }
  
  .card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
  }
  
  /* Card animation */
  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }

  
  

  



